* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #007967;
  --font-family-for-headings: "Skia";
  --font-family-for-p: "Poppins";
  --font-size-for-headings: 1rem;
  --font-family-for-paragraphs: 0.8rem;
  --font-size-for-main-heading: 3rem;
}

body {
  display: grid;
  /* background-color: whitesmoke; */
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 120px 100vh;
  gap: 7.5px;
  padding: 2px;
}

header {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: var(--background-color);
  place-content: center;
  font-family: var(--font-family-for-headings);
  font-size: var(--font-size-for-main-heading);
  color: white;
}

.sidebar {
  display: grid;
  grid-column: 1/2;
  background-color: var(--background-color);
  grid-template-columns: 1fr;
  grid-template-rows: 0px;
  font-size: var(--font-size-for-headings);
  gap: 10rem;
  font-family: var(--font-family-for-headings);
  text-align: center;
  color: white;
}

.main-content {
  /* background-color: white; */
  padding: 20px;
  min-height: 100vh;
}

.sidebar > form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.7rem;
  padding-left: 1rem;
  visibility: hidden;
}

table {
  width: 100%;
  border: 1px solid black;
  font-family: Skia;
  border-collapse: collapse;
  text-align: center;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  overflow: scroll;
}

th,
td {
  padding: 12px 15px;
  border: 0.25px solid black;
}

th {
  background-color: #009879;
  color: #ffffff;
}

tr {
  border-bottom: thin solid #dddddd;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr:last-of-type {
  border-bottom: thin solid #009879;
  font-weight: 700;
  color: #009879;
}

input {
  -webkit-appearance: none;
  appearance: none;
  align-self: start;
  width: 70%;
  height: 30px;
  border-radius: 5.5px;
}

input {
  border: 2px solid #fb8f3d;
  background-color: whitesmoke;
}

select,
input,
.sidebar button {
  align-self: start;
}

.sidebar button,
:placeholder-shown {
  padding: 0.25rem;
  font-family: var(--font-family-for-paragraphs);
}

/* Styling the Open Form Button */
.sidebar > button:first-of-type {
  color: white;
  border: 1px solid #fb8f3d;
  background: -webkit-linear-gradient(top, #fda251, #fb8f3d);
  background: -moz-linear-gradient(top, #fda251, #fb8f3d);
  background: -ms-linear-gradient(top, #fda251, #fb8f3d);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5.5px;
}

.sidebar > button:first-of-type:hover {
  border: 1px solid #eb5200;
  background: -webkit-linear-gradient(top, #fd924c, #f9760b);
  background: -moz-linear-gradient(top, #fd924c, #f9760b);
  background: -ms-linear-gradient(top, #fd924c, #f9760b);
  box-shadow: 0 1px #efefef;
}

button.openFormButton:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

#addBookBtn,
.removeRowBtn,
.readStatus {
  color: white;
  border: 1px solid #fb8f3d;
  background: -webkit-linear-gradient(top, #fda251, #fb8f3d);
  background: -moz-linear-gradient(top, #fda251, #fb8f3d);
  background: -ms-linear-gradient(top, #fda251, #fb8f3d);
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 5.5px;
  font-family: var(--font-family-for-paragraphs);
}

.removeRowBtn:hover,
#addBookBtn:hover,
.readStatus:hover {
  margin-top: 2px;
}

table,
.sidebar,
header,
.main-content,
.removeRowBtn,
#addBookBtn,
.readStatus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
